<h1>Task list</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Created at</th>
      <th scope="col">Is Active</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of taskList">
      <td>{{ t.taskId }}</td>
      <td>{{ t.title }}</td>
      <td>{{ t.createdAt }}</td>
      <td>{{ t.isActive }}</td>
      <td>
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/update-task', t.taskId ]">Edit</button>
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/delete-task', t.taskId ]">Delete</button>
      </td>
    </tr>
  </tbody>
</table>